.skill-sec{
    margin-bottom: 15%;
}
.skill-title{
    margin-top: 17vh;
    text-align: center;
}
.skill-title h2{
    font-size: 40px;
    font-weight: 500;
}
.skill-title h5{
    font-size: 18px;
    color: crimson;
    
}
.skill-title h5::before, 
.skill-title h5::after{
    content: "";
    width: 23px;
}

.skill-details{
    position: relative;
    display: flex;
   margin: 20px;
   margin-top: 5%;
}
.col1{
    text-align: justify;
    text-justify: inter-word;
    width: 30%;
    margin-left: 10%;
}
.col1 h3{
    letter-spacing: 1px;
    font-size: 19.5px;
    font-weight: 900;
}
.col1 p{
    margin-top: 3%;
}
.col1 .text-ab{
    padding-right: 50px;
    padding-top: 10px;
    font-size: 16px;
    text-align: left;
}
.col1 .text-ab  .ab i{
    padding-top: 10px;
    padding-right: 20px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 500;
}


.col2{
    margin-left: 10%;
    font-weight: bold;
    width: 40%;
}
.bars{
    margin-bottom: 15px;
}
.info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.html::before{
    width: 90%;
}
.css::before{
    width: 60%;
}
.js::before{
    width: 80%;
}
.php::before{
    width: 50%;
}
.mysql::before{
    width: 70%;
}

@media(max-width:900px){
    .skill-details{
        flex-direction: column;
        margin-top: 5%;
    }
    .col1{
        text-align: justify;
        width: 98%;
        text-justify: inter-word;
        margin: 2vw;
    }

    .col2{
        padding-top: 5vh;
        width: 96%;
        margin: 1%;
    }

}

